* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
    text-decoration: none;
}

.navbar .logo {
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li:last-child {
    padding-right: 15px;
}

.navbar ul li a:hover {
    color: rgb(255, 0, 0);
    box-shadow: 5px red;
}

.grid-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
     "img-1 img-1 img-2"
     "img-3 img-3 img-2";
   
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: all 100ms ease 0s;
}

.grid-container img:hover{
    scale: 1.01;
}

.grid-container p{
    display: flex;
    padding-left: 20px;
    color: aliceblue;
    padding-bottom: 60px;
}

.grid-container p:hover{
    color: aqua
}

