* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
    text-decoration: none;
}

.navbar .logo {
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li:last-child {
    padding-right: 15px;
}

.navbar ul li a:hover {
    color: red;
    box-shadow: 5px red;
}

.navbar ul li a.active {
    color: rgb(255, 0, 0);
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 30px 5% 500px;
    color: aliceblue;
}

.home .home-info h1 {
    padding-top: 250px;
    text-decoration: underline;
    color: red;
}

.home .home-info p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 3px;
}