* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
    text-decoration: none;
}

.navbar .logo {
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li:last-child {
    padding-right: 15px;
}

.navbar ul li a:hover {
    color: red;
    filter:blur(10%,red);
}

.navbar ul li a.active {
    color: rgb(255, 0, 0);
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0px 5% 10px;
    color: aliceblue;
}
.spiner {
    display: flex;
    justify-content: center;
    align-items: start;
 border-left: 200px;
 
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:10px solid red ;
    border-top:10px solid black ;
    animation: ani 0.5s linear infinite;
}

@keyframes ani {
    to{
        transform: rotate(360deg);
    }
    
}



.home .home-info h1 {
    font-size: 50px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.typewriter{
    display: flex;
    
}

.typewriter p{
    font-family:monospace,sans-serif ;
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px sold;
    animation: typing 3s steps(22) forwards;
    animation: blink 1s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
    
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
    
}

.home .home-info h2 {
    font-size: 32px;
}
.home-info .btn-sci{
    padding-top: 10px;
}

.home-info .btn-sci .btn {
    padding: 10px 30px;
    display: inline-block;
    background: rgb(255, 0, 0);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    list-style-type: none;
    text-decoration: none;
    box-shadow: 0 0 17px red;
}

.home-info .btn-sci .btn:hover {
    color: red;
    background: transparent;
    box-shadow: none;
}

section {
    padding: 0px 5% 200px;
    color: aliceblue;
}

