* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
    text-decoration: none;
}

.navbar .logo {
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li:last-child {
    padding-right: 15px;
}

.navbar ul li a:hover {
    color: red;
    box-shadow: 5px red;
}

.navbar ul li a.active {
    color: rgb(255, 0, 0);
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 30px 5% 500px;
    color: aliceblue;
    justify-content: center;
}

.home .home-info h1 {
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 200px;
    color: red;
}

.home .home-info p {
    font-size: 40px;
    padding-top: 10px;
}

.home .home-info h2 {
    font-size: 32px;
    color: red;
    padding-top: 10px;
}

.home-info .btn-sci {
    display: grid;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
}

.home-info .btn-sci .btn {
    padding: 3px 10px 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    background: red;
    border-radius: 30px;
    list-style-type: none;
    text-decoration: none;
    box-shadow: 10px red;
}

.home-info .btn-sci .btn:hover {
    background: transparent;
    color: red;
    box-shadow: 5px linear-gradient(to bottom right, red, blue);
}

.home-info .sci {
    display: grid;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.home-info .sci .sci {
    padding: 3px 10px 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    background: rgb(0, 179, 255);
    border-radius: 30px;
    list-style-type: none;
    text-decoration: none;
    box-shadow: 10px red;
}

.home-info .sci:hover {
    background: transparent;
    color: rgb(0, 179, 255);
}